<div class="grid-container">
    <% data.forEach(function(data) { %>
        <% if (data.locked) { %>
            <div class="background locked">
                <div class="overlay">
                    <h2>
                        <%= data.Subject %> gaat open op :
                            <%= data.opening %>
                    </h2>
                </div>
                <% } else {%>
                    <div class="background">
                        <a href="/enquete/<%= data.id %>">
                            <% } %>
                                <div class="card">
                                    <p class="card_opening">
                                        <%= data.opening %>
                                    </p>
                                    <figure>
                                    <img src="<%= data.image %>" alt="card">
                                    </figure>
                                </div>
                                <h2 class="card_title">
                                    <%= data.Subject %>
                                </h2>
                                <div class="text_container">
                                </div>
                                <button class="btn card_btn">
             Vul Enquete in
             </button>
                        </a>
                    </div>
                    <% }) %>
            </div>